@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}
.leaflet-bottom,
.leftlet-control,
.leaflet-pane,
.leftlet-top {
  z-index: 0 !important;
}
.rdrMonth {
  width: 100% !important;
}

.rdrCalendarWrapper {
  font-size: 15px !important;
  width: 100% !important;
}