@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}
.leaflet-bottom,
.leftlet-control,
.leaflet-pane,
.leftlet-top {
  z-index: 0 !important;
}
.rdrMonth {
  width: 100% !important;
}

.rdrCalendarWrapper {
  font-size: 15px !important;
  width: 100% !important;
}
/* Стилове за менюто */
.user-menu {
  position: relative;
  z-index: 9999; /* Задайте висок z-index */
}

/* Стилове за модалния прозорец */
.modal {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10000; /* Задайте още по-висок z-index */
}